<h1>Edit Your Item</h1>

<form method="post" action="/items/<%= @item.id %>">
    <input id="hidden" type="hidden" name="_method" value="patch">

    <label for="title">Title:</label>
    <input type="text" name="title" value="<%= @item.title %>"><br>

    <label for="description">Description:</label>
    <input type="text" name="description" value="<%= @item.description %>"><br>

    <label for="price">Price:</label>
    <input type="text" name="price" value="<%= @item.price %>"><br>

    Delete photo/upload new photo<br>

    <input type="submit" value="Submit">
</form> 

<br><br>
<a href="/items/<%= @item.id %>">Go back</a> to item
<br><br>
<a href="/items">Go back</a> to items index
