<h3>Edit Your Item</h3>

<% if @item.errors.any? %>
  <div id="error">
    <h3><%= @item.errors.count %> error(s) prohibited the edit of your item :</h3>
 
    <ul>
      <% @item.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
    </ul>
  </div>
<% end %>


<form method="post" action="/items/<%= @item.id %>">
    <p><input id="hidden" type="hidden" name="_method" value="patch">

    <label for="title">Title:</label>
    <input type="text" id="title" name="title" value="<%= @item.title %>"><br><br>

    <label for="description">Enter a few sentences that describe your item:</label><br>
    <textarea id="description" name="description" rows="10" cols="40"><%= @item.description %></textarea><br><br>

    <label for="price">Price:</label>$ 
    <input type="text" id="price" name="price" value="<%= @item.price %>"><br><br>

    <label for="image">Link to Image:</label><br>
    <input type="text" id="image" name="image" value="<%= @item.image %>" size="47"><br><br>

    <button type="submit" alt="Edit Item"><img src="/photos/edit.png" width=55></button></p>
</form> 

<p class="center"><a href="/items/<%= @item.id %>">Back to Item</a> || <a href="/items">View All Items</a></p>
<p class="center">Go back to <a href='/'>Main Page</a></p>