<h1>Edit Your Item</h1>

<form method="post" action="/items/<%= @item.id %>">
    <input id="hidden" type="hidden" name="_method" value="patch">

    <label for="title">Title:</label>
    <input type="text" id="title" name="title" value="<%= @item.title %>"><br><br>

    <label for="description">Enter a few sentences that describe your item:</label><br>
    <textarea id="description" name="description" rows="10" cols="40"><%= @item.description %></textarea><br><br>

    <label for="price">Price:</label> $
    <input type="text" id="price" name="price" value="<%= @item.price %>"><br><br>

    <label for="image">Link to Image:</label><br>
    <input type="text" id="image" name="image" value="<%= @item.image %>" size="47"><br><br>

    <input type="submit" value="Submit">
</form> 

<br><br>
<a href="/items/<%= @item.id %>">Go back</a> to item
<br><br>
<a href="/items">Go back</a> to items index
