<h3><%= current_user.username %> create a new item!</h3>

<% if @item.errors.any? %>
  <div id="error">
    <h2><%= @item.errors.count %> error(s) prohibited new item creation:</h2>
 
    <ul>
    <% @item.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
    </ul>
  </div>
<% end %>

  <form action='/items' method="post">
    <p><label for="title">Title:</label>
    <input type="text" id="title" name="title" value="<%= @item.title %>"><br><br>

    <label for="description">Enter a few sentences that describe your item:</label><br>
    <textarea id="description" name="description" rows="10" cols="40" ><%= @item.description %></textarea><br><br>

    <label for="price">Price:</label> $
    <input type="text" id="price" name="price" placeholder="x.xx" value="<%= @item.price %>"><br><br>

    <label for="image">Link to Image:</label><br>
    <input type="text" id="image" name="image" size="47" value="<%= @item.image %>"><br><br>

    <input type="submit" value="Submit"></p>
  </form>
  
<p class="center"><a href="/items">Browse All Items</a> || <a href='/'>Main Page</a></p>


 