<h3><%= @item.title %> | $<%= @item.price %><br><br>
<img src="<%= @item.image %>" width=400><br><br>
<%= @item.description %></h3>

Created by <a href="/users/<%= @item.user.username %>"><%= @item.user.username %></a>


<form action="/items/<%= @item.id %>/edit" method="get">
  <p><input type="submit" value="Edit Item"></p>
</form>

<form method="POST" action="/items/<%= @item.id %>">
  <input id="hidden" type="hidden" name="_method" value="DELETE">
  <input type="submit" value="Delete Item">
</form>

<br><br>
<a href="/items">Go back</a> to item index